<div id="homePage">
  <h1>Welcom FootBook</h1>
  <div class="text">
    <p>
      Cette application et un répertoire de league et d'équipe.<br>
      in luctus dui vehicula ullamcorper. Morbi fringilla, massa in dictum feugiat, metus mi sollicitudin mi, eget
      ultricies lectus dui sed mauris.<br>
      Maecenas tincidunt condimentum lacus ut tempor. In nulla libero, pellentesque in metus vel, vehicula blandit quam.
      Sed eget dui vitae augue<br>
      pellentesque porta. Morbi dapibus leo hendrerit ullamcorper venenatis. Nulla ullamcorper eu massa quis
      sollicitudin.
      Aenean tempor<br>
      sapien non rhoncus tempus. Pellentesque eu felis vitae ex mollis auctor. Cras porttitor metus at ante consequat,
      ac
      iaculis tortor efficitur.<br>
      Vivamus tempus ex in nulla dignissim bibendum. Nullam euismod dui enim, quis volutpat enim ornare et.
    </p>
    <p>
      Morbi vel dui dolor. Etiam bibendum risus ac metus vehicula vestibulum. Fusce dictum pharetra augue, eu pharetra
      tortor sagittis sit<br>
      amet. Nulla eu velit metus. Pellentesque viverra ligula ac arcu vestibulum lacinia. Fusce magna nulla, pulvinar
      sit
      amet mi sit amet, luctus<br>
      iaculis arcu. Phasellus sed condimentum tellus.
    </p>
  </div>
</div>
