<div id="header">
  <h1>FootBook</h1>
  <button class="title-menu" mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu class="menu-container" #menu="matMenu">
    <button class="menu-item" mat-menu-item routerLink="/">Page d'acceuil</button>
    <button class="menu-item" mat-menu-item routerLink="teams">Teams</button>
    <button class="menu-item" mat-menu-item routerLink="contact">Contact</button>
  </mat-menu>
</div>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  <p>©FootBook</p>
  <a routerLink="/">Home page</a>
  <a href="https://www.lequipe.fr/Football">Info foot</a>
</footer>
